[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
pymysql = "==0.6.7"
tornado = "==4.3"
redis = "*"
pillow = "*"
qiniu = "*"
captcha = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
